#errorModal .modal-body .well {
	font-family: monospace;
	word-wrap: break-word;
}

.backgroundImage {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
}

#introSection {
	min-height: 100%;
	text-align: justify;
	background-image: url('/media/img/bg-intro.jpg');
}

#selectImageSection {
	background-image: url('/media/img/bg-select-image.jpg');
}

#headerContentInner {
	position: relative;
}

.videoContainer {
	padding-bottom: 20px;
}

#imagePreview {
	max-width: 100%;
	max-height: 600px;
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
}

#imagePreviewSection {
	/*max-height: 600px;*/
	text-align: center;
	padding: 20px 0px;
	/*display: none;*/
}

.display-with-results {
	/*height: 600px;*/
	display: none;
}

#graphSection {
	background-image: url('/media/img/bg-graph.jpg');
}

#graphWrapper {
	padding: 20px;
}

#graph {
	width: 600px;
	height: 400px;
	margin: auto;
}

#imageSubmitFormImageInput {
	display: none;
}

#imageSubmitFormButton {
	display: none;
}

#uploadImageSection {
	display: none;
}

#informationalSection {
	position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
	background-image: url(/media/img/bg-cta.jpg);
}

i.fa {
	margin-top: 20px;
}